*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.container{
  margin:1rem auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.faq-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.faq{
  width:500px;
  padding:20px;

  background-color: rgba(0,0,0,0.7);
  color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  gap:10px;
}
.faq-question{
  display:flex;
  justify-content: space-between;
  align-items: left;
  gap:30px;

}
.faq-answer{
  display:none;
  /* display:flex;
  align-items: left;
  padding:10px 2px;
  border-top: 1px solid white; */
}
.show{
  display:flex;
  align-items: left;
  padding:10px 2px;
  border-top: 1px solid white;
}
.minus-icon{
  display: none;
}
button{
  outline:none;
  border:none;
  background:transparent;
}
.plus-icon, .minus-icon{
  color:#0de009;
  font-size:22px;
  cursor: pointer;
}
.minus-icon{
  color:#f01707;
}
